- columns = {:name => "名称", 
             :balance => "账户余额", 
             :contact => "联系人", 
             :phone => "联系手机", 
             :address => "地址"}

= render :partial => "layouts/errors", :locals => { :target => @client }
= form_for @client, :url => @client.new_record? ? admin_clients_path : admin_client_path(@client), :html => { :class => "form-horizontal well" } do |f|
  - columns.each do |k, v|
    - control_helper(k, v) do
      = f.text_field k

  .form-actions
    = f.submit "提交", :class => "btn "
    = link_to "返回", admin_clients_path, :class => "btn"
