= table_header(:title => "客户列表", :link => new_admin_client_path)
=# render :partial => "soso", :locals => { :form_url => clients_path }
- columns = {:name => "名称", :balance => "账户余额", :contact => "联系人", :phone => "联系手机", :address => "地址"}
=# render :partial => "layouts/table", :locals => {:collection => @clients, :columns => columns}

%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th 编号
      - columns.each_value do |v|
        %th= v
      - if !defined?(no_operation)
        %th 操作

  %tbody
    - @clients.each_with_index do |e, index|
      %tr
        %td= index + 1
        - columns.each_key do |k|
          %td
            - if k.to_s == "start_date" || k.to_s == "end_date" || k.to_s == "created_at" || k.to_s == "birthday" || k.to_s == "expire_date"
              = (e.send k).try(:to_chinese_ymd)
            - else
              =e.send k

        -# if !defined?no_operation
        %td
          -# operations = e.can_view? ? [:show]  : []
          -# operations << :destroy if e.can_destroy?
          -# operations << :edit if e.can_edit?
          -# operations << :switch_state if e.respond_to?:state
          =# operations_panel(e, operations)
          = link_to edit_admin_client_path(e) do
            %i{:class => "icon-edit"}
          = link_to admin_client_path(e), :method => :delete, :confirm => '确认删除？' do
            %i{:class => "icon-trash"}




= render :partial => "layouts/page_nav", :locals => { :objs => @clients }
